/* Header section */
.logo {
  display: flex;
  align-items: center;
  height: 32px;
}

.logo .academy {
  color: grey;
}

.header {
  height: 64px;
}

.header .menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 24px;
  margin-right: 8px;
  height: 64px;
}

.header nav ul{
  display: flex;
}

.header nav ul li {
  padding-right: 16px;
}

/* Banner Section */
.banner .content {
  display: flex;
  align-items: center;
  padding: 32px 0px;
  background-color: lightgrey;
}

.banner-img {
  max-width: 60%;
  padding-left: 24px;
}

.banner-img img {
  max-width: 100%;
}

.banner-text {
  display: flex;
  flex-direction: column;
  padding-left: 24px;

}

.banner-text h1 {
  padding-bottom: 32px;
  font-size: 2rem;
  font-weight: 900;
}

.banner-text p {
  padding-bottom: 32px;
  font-weight: 700;
}

.banner-text .banner-btn {
  padding: 8px 0px;
  background-color: grey;
  text-align: center;
  color: white;
}


/* Information Section */
.info .content {
  padding: 32px 0px;
  display: flex;
}

.featured-item {
  max-width: 60%;
  padding: 0px 24px;
}

.featured-img img {
  max-width: 100%;
}

.featured-item h1 {
  padding-top: 32px;
  font-size: 2rem;
}

.featured-item p {
  padding: 24px 0px;
}

.info .items {
  display: flex;
  flex-direction: column;
}

.info .items .item {
  display: flex;
  align-items: center;
}

.item-img {
  min-width: 35%;
  max-width: 35%;
  max-height: auto;
  padding: 16px;
}

.item-img img {
  max-width: 100%;
}

.desc {
  padding: 8px 0px;
}

.item-text {
  display: flex;
  flex-direction: column;
}

.item-text h1 {
  font-size: 1.2rem;
  font-weight: bold;
}

.item a {
  color: blue;
}

.lecture {
  background-color: lightgrey;
}

/* Learning section */

.learning .content {
  display: flex;
  flex-direction: column;
  background-color: lightgrey;
  padding: 32px 72px;
}

.learning .lrn-title {
  text-align: center;
}

.topic-row {
  display: flex;
  max-width: 100%;
  justify-content: space-between;
  padding-top: 32px;
}

.topic {
  display: flex;
  flex-direction: column;
  max-width: 30%;
  background-color: white;
}

.topic-text {
  padding: 16px;
}

.topic-img {

}

.learning img {
  max-width: 100%;
}


/* Thesis section */
.exhibit .content {
  display: flex;
  padding-left: 24px;
  padding-bottom: 32px;
}

.exhibit .thesis-title h1 {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  padding: 32px 0px;
}

.featured-vid {
  max-width: 60%;
  padding-right: 24px;
}

.featured-vid .vid-desc h1 {
  padding-top: 24px;
  padding-bottom: 8px;
  font-size: 2rem;
  font-weight: bold;
}

.featured-vid .vid-desc p {
  color: grey;
}

video {
  max-width: 100%;
}

.exhibit .items {
  display: flex;
  flex-direction: column;
}

.exhibit .item {
  display: flex;
  align-items: center;
}

.item.fisma {
  background-color: lightgrey;
}


/* Footer Section */
.footer .menu {
  display: flex;
  justify-content: space-between;
  padding: 16px 24px;
  border-top: 1px solid lightgrey;
}

.footer nav ul {
  display: flex;
}

.footer nav ul li {
  padding: 0px 16px;
}
